@use "../abstracts";

.btn-row {
    text-align: center;

    .btn {
        @include abstracts.button(abstracts.$green, abstracts.$light-text, 70%, 3rem, 2em auto 0, 100%, center, 1rem, false);
        box-shadow: 0px 0px 4px 0px abstracts.$shadow;
    }
}

.log-out-btn {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
    color: abstracts.$light-text;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.link-btn {
    @include abstracts.button(abstracts.$green, abstracts.$light-text, 70%, 2rem, 0 auto, 100%, center, 1rem, false);
}

@media (min-width: 50rem) {
    .link-btn {
        font-weight: 700;
    }
}