@use "../abstracts";

.btn-row {
    text-align: center;

    .btn {
        @include abstracts.button(abstracts.$green, abstracts.$light-text, 70%, 3rem, 2em auto 0, 100%, center, 1rem, false);
        box-shadow: 0px 0px 4px 0px abstracts.$shadow;
    }
}

.log-out-btn {
    border: none;
    margin: 0;
    padding: 0.8rem;
    width: 100%;
    background: transparent;
    color: abstracts.$light-text;
    font-size: 1.2rem;

    cursor: pointer;

    &:hover {
        background-color: abstracts.$green;
    }
}

.link-btn {
    @include abstracts.button(abstracts.$green, abstracts.$light-text, 70%, 2rem, 0 auto, 100%, center, 1rem, false);
    align-content: center;
    text-decoration: none;
}

.back-btn {
    display: block;
    @include abstracts.button(abstracts.$green, abstracts.$light-text, 20%, 2rem, 0 2rem, 100%, center, 1rem, false);
    align-content: center;
    text-decoration: none;
}


.btn-div {
    @include abstracts.grid(100%, 2);

    .change-btn,
    .delete-btn {
        @include abstracts.button(abstracts.$green, abstracts.$light-text, 50%, 2rem, 1em auto 0, 100%, center, 1rem, false);
        box-shadow: 0px 0px 4px 0px abstracts.$shadow;
    }

    .change-btn {
        margin-left: 0;
    }

    .delete-btn {
        margin-right: 0;
        background-color: abstracts.$red;

        &:hover {
            background-color: #ca352c9b;
        }
    }
}

@media (min-width: 50rem) {
    .log-out-btn {
        font-size: 1rem;
        padding: 0.8rem;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: abstracts.$green;
        }
    }

    .link-btn {
        width: 50%;
        margin-right: 2rem;
    }

    .back-btn {
        width: 15%;
        margin-left: 15%;
    }
}