@use "abstracts";

.form-container {
    @include abstracts.textBox(90%, 1rem, 1rem auto 3rem, 0px 0px 8px 0px abstracts.$green, 1px solid abstracts.$shadow);
    background-color: abstracts.$white;
    border-radius: 10px;
}

#ingress {
    text-align: center;
    font-weight: 600;
    padding: 0 1rem;
}

#msg {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    height: 0;
    font-weight: 700;
}

#error-msg {
    @extend #msg;
    color: red;
}

#filter-container {
    margin: 1em;
}

#menu-container {
    @include abstracts.textBox(90%, 0, 1rem auto 3rem, 0px 0px 8px 0px abstracts.$shadow, 1px solid abstracts.$shadow);
    background-color: abstracts.$white;
    border-radius: 10px;
}


.dish-box {
    @include abstracts.textBox(100%, 0.8rem 2rem, 0 auto);
    border-bottom: 1px solid abstracts.$shadow;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    h2 {
        text-align: left;
    }

    p {
        margin: 0.3rem 0 0;
    }


    .name-and-price {
        @include abstracts.grid(100%, 2);
    }

    .price {
        text-align: right;
    }

    .ingredients {
        margin-bottom: 0.3em;
    }

}

.msg-box {
    @include abstracts.textBox(90%, 0.8rem 2rem, 1em auto, 0px 0px 8px 0px abstracts.$shadow, 1px solid abstracts.$shadow);
    border-radius: 10px;

    h2 {
        font-size: 1.3em;
    }

    .checkbox-label {
        margin-top: 0.5rem;
    }

    .checkbox {
        margin-left: 1rem;
    }
}

@media (min-width: 50rem) {
    .msg-box {
        max-width: 50rem;
    }
}